.body {
    background-color: salmon;
    font-size: large;

}

.nav-item {
    border: none;
    
}

.nav-item-active {
    background-color: yellow;
    border: none;
    border-radius: 5px 5px 0 0;
    transition: 0.3s ease-out;

}

.content-item {
    width: 250px;
    padding: 10px 0 30px;
    display: none;
    background-color: yellow;
    border-radius: 0 0 5px 5px;
    transition: 0.3s ease-in-out;
}

.content-item-active {
    display: block;
}